@import '@angular/material/prebuilt-themes/azure-blue.css';


/* Use regular CSS here */
body {
  font-family: Roboto, sans-serif;
  background-image: url('./app/assets/bckground.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Ensure full height */
  color: #e0e0e0;
  /* Light text */
  margin: 0;
  background-attachment: fixed;
  /* Fix background during scroll */
}

/* Custom styles */
.mat-toolbar {
  font-weight: bold;
}